*,
*::before,
*::after {
  box-sizing: border-box;
}


@font-face {
    font-family: 'simsun';
    src: url('/assets/simsun-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p, a,
figure, blockquote, dl, dd {
  font-family: 'simsun';
  margin-block-end: 0;
  max-width: 100%;
  overflow-x: hidden;
  max-width: 100vw;
  letter-spacing: 1px;
  margin-block-start: 0;

}


html, body{
background-color: rgb(37, 37, 37);
color: #979797;
    font-size: 20px;
        -webkit-text-stroke-width: .8px;    -webkit-font-smoothing: antialiased;



}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  margin: 0;
}

mark{
    max-width: 100%;
    overflow-wrap: break-word;
}

#text{
    max-width: 1200px;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  transition: transform .1s ease;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

#heightValue{
    display: none;
}
/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


#footer{
    position: fixed;
    bottom: 13px;
    left: 10px;
    right: 10px;
    width: calc(100% - 20px);
}

#logo{
  position: relative;
  width: 100%;
  max-width: 1000px;
  display: block;
}

#links{
    display: flex;
    flex-wrap: wrap;
    font-size: inherit;
    margin: 1.5em 0;
    padding: 0;
    line-height: 1.7;
    max-width: 90vw;

}

.column{
min-width: 30vw;
}

#links a{
    min-width: 30vw
    
}

p{
    max-width: 700px;
}



#illustration{
    display: block;
}

#wrapper{
    margin: 13px 10px;
    column-gap: 2em;
    row-gap: 1em;

    flex-wrap: wrap;

}

#wrapper img{

    width: 12vw;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1000px){

    html, body{
        font-size: 16px;
    }


    #wrapper img{

    height: 25vh;
    width: auto;
    margin-bottom: 10px;
}

}